@import "../../sui/styles/includes";

.banner {
    height: calc(100vh - 60px);
    background: linear-gradient( 119deg,rgba(0,0,0,.75),rgba(0,0,0,.85));
    position: relative;
    z-index: 1;
    text-align: left;
    display: flex;
    align-items: center;
    .banner-name {
        font-size: 14px;
        line-height: 1.7;
        font-weight: normal;
        color: #ffffffa6;
        margin-bottom: 32px;
    }
    .banner-content {
        text-align: left;
        font-size: 38px;
        line-height: 64px;
        font-weight: 700;
        color: #fff;
        margin: 0;
        span {
            color: #fb833d;
            font-weight: bold;
        }
    }
    .banner-button {
        font-size: 18px;
        line-height: 27px;
        font-weight: 600;
        color: #fff;
        display: inline-flex;
        border: 1px solid #fff;
        padding: 8px 18px;
        border-radius: 4px;
        &:hover {
            cursor: pointer;
            background-color: #fff3;
        }
    }
    .banner-image-pattern {
        width: 100%;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        background: url(../../assets/Banner_Pattern.svg);
        background-position: right 0;
        background-size: contain;
        background-repeat: no-repeat;
        background-attachment: fixed;
        opacity: .2;
        z-index: -1;
    }
}

@media (max-width: 768px) {
    .banner-image-pattern {
        display: none !important;
    }
}