@import "../../sui/styles/includes";

.banner {
    height: calc(100vh - 57px);
    background: linear-gradient(to bottom,#050b15 50%,#2a042a);
    filter: brightness(1.5);
    display: flex;
    align-items: center;
    justify-content: center;
    .banner-name {
        font-size: 64px;
        line-height: normal;
        font-weight: bold;
        color: $white;
        margin-bottom: 12px;
    }
    .banner-content {
        font-size: 24px;
        line-height: normal;
        font-weight: normal;
        color: $white;
        margin-bottom: 44px;
    }
    .banner-button button {
        font-size: 15px;
        line-height: normal;
        font-weight: 400;
        color: #fff;
        padding: 12px 24px;
        background: transparent;
        border: 1px solid #ffffff;
        border-radius: 3px;
        &:hover {
            background-color: #fff3;
            cursor: pointer;
        }
    }
}