@import '../../sui/styles/includes';

// Header section style here 
.header {
    border-color: $background !important;
    filter: brightness(1.5);
    background-color: $background ;
    z-index: 1001;
    padding: 10px;
    display: flex;
    align-items: center;
    .logo-section {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .menu-section {
        display: flex;
        justify-content: flex-end;
    }
}