/*===============================
  CRM Brand Colors
---------------------------------*/
$primary-color: #FB7000;
$secondary-color: #005592;

/* ==============================
   CHECKOUT SPECIFIC COLORS
---------------------------------*/

$white: #FFFFFF;
$black: #000000;
$background: #050a14;

$text-grey-primary: #202A36;
$text-grey-secondary: #414A54;
$text-grey-hint: #6E747C;

$orange-darken1: #FB8526;
$orange-darken2: #FCA259;
$orange-darken3: #FDBE8C;

$orange-lighten1: #FEDBBF;
$orange-lighten2: #FFEAD9;
$orange-lighten3: #FEF0E5;
$orange-lighten4: #FFF8F2;

$blue: #0E7EBF;
$blue-darken1: #266EA2;
$blue-darken2: #5990B8;
$blue-darken3: #8CB2CE;
$blue-darken4: #3291C8;
$blue-darken5: #4285f4;


$blue-lighten1: #BFD4E4;
$blue-lighten2: #D9E6EF;
$blue-lighten3: #E5EEF4;
$blue-lighten4: #F2F6F9;
$blue-lighten5: #f7fafb;
$blue-lighten6: #f8f8f9;

$grey-darken1: #9A9FA4;
$grey-darken2: #C7CACD;
$grey-darken3: #DEDFE1;

$grey-lighten1: #E8E9EA;
$grey-lighten2: #F4F4F5;
$grey-lighten3: #f4f5f9;

$red: #FA3E3E;
$red-lighten1: #FB5B5B;
$red-lighten2: #fb3e3e1a;
$red-lighten3: #fef9f9;

$green: #00C851;
$green-lighten1: #26D06B;
$green-lighten2: #e9FBF0;
$green-lighten3: rgba(0, 200, 81, 0.08);

$yellow: #FFBB33;
$yellow-lighten1: #ffc551;

$border: #dfe3eb;

/* Table DP name style here */
$dp-red: #ea1414;
$dp-red-lighten: rgba(234, 20, 20, 0.16);

$dp-violet: #641cff;
$dp-violet-lighten: #e6daff;

$dp-orange-lighten: #fee8d6;

$dp-green: #0abf95;
$dp-green-lighten: #d8f5ee;

$dp-blue: #4c7cf3;
$dp-blue-lighten: #e2eafd;