/* ==============================
   Border Radius Properties
---------------------------------*/

$border-radius-rounded: 50px;
$border-radius-circle: 50%;
$global-border-radius: 4px;
$global-border-radius-minimal: 2px;

/* ==============================
   Font Family Settings
---------------------------------*/

$font-family: 'Nunito Sans', sans-serif;

/* ==============================
   Font Size Properties
---------------------------------*/

$font-size: 14px;

/* ==============================
   Box Shadow Properties
---------------------------------*/

$box-shadow1: 0 2px 15px 0 rgba(155, 155, 155, 0.1);

/* ==============================
   Spacers Properties
---------------------------------*/

$spacer2: 2px;
$spacer3: 3px;
$spacer4: 4px;
$spacer6: 6px;
$spacer8: 8px;
$spacer9: 9px;
$spacer10: 10px;
$spacer11: 11px;
$spacer12: 12px;
$spacer14: 14px;
$spacer15: 15px;
$spacer16: 16px;
$spacer20: 20px;
$spacer22: 22px;
$spacer24: 24px;
$spacer32: 32px;
$spacer36: 36px;
$spacer40: 40px;
$spacer48: 48px;
$spacer64: 64px;
$spacer72: 72px;
